* {
   
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body {
    text-align: center;
}

#back {
    
}


div {
 margin: 10%;  
 display: flex;
 align-items: center;   
 justify-content: center;
}


h2 {
    margin-top: 1.5em;
}

button {
    
    
    border-radius: 6px;
    padding: 16px 22px;
    margin: 4px 2px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */      
    transition-duration: 0.4s;      
    cursor: pointer;      
    text-decoration: none;   
    text-transform: uppercase;
    background-color: white;
    color: rgb(102, 100, 100);
    border: 2px solid #008CBA;


}

button:hover {
    background-color: #008CBA;     
     color: white;
}
